<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>
</head>
<body>
    <h1>you landed on the page</h1>
    {% for recepie in recepies %}
    <table>
        <tr>
            <th>name of recepie</th>
            <th>description</th>
            <th>image of the recepie</th>
        </tr>
        <tr>
        <td>{{ recepie.recipies_name }}</td>
        <td>{{ recepie.description }}</td>
        <td>
            <img src="/media/{{recepie.recipie_image}}"></td>
        </td>
        </tr>
        </table>
    {% endfor %}

</body>
</html>